name: Rust

on:
  push:
    branches: [trunk]
    
  pull_request:
  
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
    - name: Cache
      uses: actions/cache@v4.0.0
      with:
        path: ./target
        key: rust-build
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
